# dependencies
node_modules/

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build output
dist/
build/

# logs
logs
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# coverage
coverage/

# misc
.tmp/
.cache/
